# 백엔드 API URL
VITE_API_BASE_URL=http://localhost:8080/auth/api

# 앱 제목
VITE_APP_TITLE=PlanIT

# 환경 설정
VITE_NODE_ENV=development

# 소셜 로그인 클라이언트 ID
VITE_KAKAO_CLIENT_ID=your_kakao_client_id
VITE_NAVER_CLIENT_ID=your_naver_client_id

# 웹소켓 URL (실시간 데이터용)
VITE_WS_URL=ws://localhost:8080/ws